* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: auto 100vh;
}

main {
    /*text-align: center;*/
    width: 100vw;
}

main > div#celular {
    text-align: left;
}

/*main #conteiner2 {
    text-align: right;
}*/

div#conteiner1 {
    display: inline-block;
    width: 60vh;
    padding-top: 20vh;
    text-align: right;
}

div#conteiner2{
    display: inline-block;
    width: 300px;
    overflow: hidden;
    background-color: chartreuse;
    height: 60vh;
    text-align: right;
}

div#celular {
    display: inline-block;
    width: 30vh;
    height: 60vh;
    background-image: url(imagens/frame-iphone.png);
    background-size: 100%;
}

iframe#tela {
    width: 25.5vh;
    height: 46vh;
    padding: 7.5vh 2.2vh;
    background-size: 300px 200px;
    overflow: hidden;
}

div#botoes {
    overflow: hidden;
    display: inline-block;
    background-color: aqua;
    height: 100%;
}

