* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: auto 100vh;
}

main {
    display: inline-block;
    text-align: center;
    padding-top: 20vh;
}

div#celular {
    display: inline-block;
    width: 30vh;
    height: 60vh;
    background-image: url(imagens/frame-iphone.png);
    background-size: auto 100%;
}

iframe#tela {
    width: 25.5vh;
    height: 46vh;
    padding: 7.5vh 2.2vh;
    background-size: 300px 200px;
    overflow: hidden;
}

section {
    display: inline-block;
    background-color: aqua;
    width: 100px;
}

