* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: auto 100vh;
}

main {
    width: 100vw;
}



/*main #conteiner2 {
    text-align: right;
}*/

div#conteiner1 {
    overflow: hidden;
    display: inline-block;
    width: 87vw;
    text-align: center;
    /*background-color: red;*/
    height: 98vh;
}

div#celular {
    margin-top: 60px;
    display: inline-block;
    width: 250px;
    height: 500px;
    background-image: url(imagens/frame-iphone.png);
    background-size: 100%;
}

/*
width: 600px;
    height: 1200px;
    overflow: hidden;
    transform: scale(0.41);
    margin: 10px;
*/

#caixinha {
    margin: 64px 18px ;
    background-color: rgba(0, 255, 255, 0.315);
    width: 216px;
    height: 380px;
}

iframe#tela {
    height: 1055px;
    width: 596px;
    border: 0;
    -ms-transform: scale(0.36);
    -moz-transform: scale(0.36);
    -o-transform: scale(0.36);
    -webkit-transform: scale(0.36);
    transform: scale(0.36);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow: hidden;
}

#caixinha {
    size: 100%;
    background-color: rgba(0, 255, 255, 0.301);
}

div#conteiner2{
    display: inline-block;
    width: 12vw;
    overflow: hidden;
    /*background-color: chartreuse;*/
    height: 98vh;
    text-align: right;
}

div#botoes {
    overflow: hidden;
    display: inline-block;
    /*background-color: aqua;*/
    height: 100%;
}

.logos {
    height: 50px;
    border-radius: 50px;
    
    box-shadow: 3px 3px 5px black;
}

.logos:hover {
    height: 48px;
    border: 2px;
}

.caixas {
    height: 53px;
    width: 53px;
    padding: 6px;
}
