@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}


.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

.passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-family: "Passion One", sans-serif;
    font-size: 7vw;
}

.maiuscula {
    font-size: 1.45em;
}

article {
    padding: 60px 70px 60px 20px;
}

article > p {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3.5vw;
    font-family: "Sriracha", cursive;
    line-height: 2em;
}

article.sem_fundo > p {
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 3.5vw;
    font-family: "Sriracha", cursive;
    line-height: 2em;
}

article.com_fundo {
    background-color: white;
    padding-bottom: 100px;
}

article#sem_fundo1 {
    background-image: url(imagens/pexels-pixabay-121472.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

article#sem_fundo2 {
    background-image: url(imagens/pexels-pixabay-51343.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}